.cloak {
    visibility: hidden;
}

body.dom-loaded .coak {
    visibility: visible;
}

.app__wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}