html,
body,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body ul,
body li,
body div,
body blockquote {
    font-family: var(--font-family);
}

.cloak {
    visibility: hidden;
}

body.dom-loaded .cloak {
    visibility: visible;
}

.app__wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.section__inner {
    grid-column: span 2;
}

.app {
    padding: 25px;
}
