.churches {
    position: relative;
    display: block;
}

.churches__heading {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.churches__heading h3 {
    color: var(--dt-tile-header-color, #3f729b);
    font-size: 1.5rem;
    text-transform: var(--dt-tile-header-text-transform, capitalize);
    font-weight: 700;
}

dt-button.churches__add {
    --dt-button-font-size: 1.7rem;
    --dt-button-height: 30px;
    --dt-button-width: 30px;
    position: absolute;
    top: var(--dt-tile-padding, 1.2rem);
    right: var(--dt-tile-padding, 1rem);
}

dt-button.churches__add dt-icon {
    display: flex;
}

[dir="rtl"] .churches__add {
    left: var(--dt-tile-padding, -1rem);
    right: auto;
}

.church {
    position: relative;
}

.church__link {
    position: absolute;
    top: 20px;
    right: 10px;
    position: absolute;
}

[dir="rtl"] .church__link {
    right: auto;
    left: auto;
    right: 10px;
}

.church__counts {
    display: flex;
    justify-content: center;
    margin: 0;
}

.church__count {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.count__icon {
    height: 25px;
    object-fit: contain;
}

.count__value {
    transform: translateY(-7px);
    background-color: var(--alert-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: block;
    width: 1.5rem;
    color: white;
}

.churches__loading,
.churches__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}