.churches {
    position: relative;
}

.churches__add {
    --dt-button-font-size: 25px;
    position: absolute;
    top: var(--dt-tile-padding, 15px);
    right: var(--dt-tile-padding, 15px);
}

.church {
    position: relative;
}

.church__link {
    --dt-button-font-size: 25px;
    position: absolute;
    top: var(--dt-tile-padding, 15px);
    right: var(--dt-tile-padding, 15px);
}

.church__counts {
    display: flex;
}

.church__count {
    display: flex;
    flex-direction: column;
    text-align: center;
}