body#blank-template-body {
    border-top: 4px solid var(--primary-color);
}

.container {
    --border-color: #fff;
    --font-family: 'Poppins';

    width: 100%;
    max-width: 462px;
    margin: 36px auto;
    padding: 25px;
}

.container .logo {
    margin: 32px 0;
    width: 100%;
}
