dt-text[type] {
    background-color: initial;
    border: initial;
    border-radius: initial;
    -webkit-box-shadow: none;
    box-shadow: initial;
    -webkit-box-sizing: none;
    box-sizing: initial;
    color: inherit;
    display: initial;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: initial;
    line-height: inherit;
    margin: initial;
    padding: initial;
    -webkit-transition: none;
    transition: none;
    width: initial;
}
