:root {
    --dt-tile-header-text-transform: none;
}

.survey {
    position: relative;
}

.question__pagination {
    display: flex;
    justify-content: right;
    gap: 8px;
}

.question .pagination__next,
.question .pagination__prev {
    --dt-button-background-color: var(--primry-dark);
    --dt-button-text-color: white;
    --dt-button-width: 3em;
}

.question .question__pagination dt-icon {
    font-size: 2rem;
}

.question {
    --dt-tile-border-top: none;
}

.question__progress-bar {
    width: calc(var(--progress) - 1rem);
    height: 0.2rem;
    background: var(--primary-color);
    transform: translate(-0.4em, 0.05rem);
    border-top-right-radius: 50rem;
    border-top-left-radius: 50rem;
    border-bottom-right-radius: var(--progress-border-radius);
    position: absolute;
    top: 0;
}
