:root {
    --dt-tile-header-text-transform: none;
}

.question__pagination {
    display: flex;
    justify-content: right;
    gap: 8px;
}

.question .pagination__next,
.question .pagination__prev {
    --dt-button-background-color: var(--primry-dark);
    --dt-button-text-color: white;
    --dt-button-width: 3em;
}

.question .question__pagination dt-icon {
    font-size: 2rem;
}

.question {
    --dt-tile-border-top: 4px solid #CECECE;
}

.question__progress-bar {
    width: var(--progress);
    height: 4px;
    background: var(--primary-color);
    margin-top: -122px;
}